@{
    ViewData["Title"] = "Home Page";
}
<br /><br />
<div class="jumbotron">
    <h2>OLAR</h2>
</div>

<br /><br />
<div class="container">
    <p>Key: <b>@ViewBag.Key</b></p>
    <p>Password: <b>@ViewBag.Password</b></p>

    <hr />

    <p>Cultura: <b>@ViewBag.Cultura</b></p>
</div>