@model IEnumerable<App.ProdutoViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>@ViewData["Title"]</h1>
<hr />

<vc:Summary></vc:Summary>

<p supress-by-claim-name="Produto" supress-by-claim-value="Adicionar">
    <a class="btn btn-info" asp-action="Create">Novo Produto</a>
</p>

<partial name="_ListaProdutos" />